*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
        width: 27%;
        height: 630px;
        border: 1.5px solid rgb(0, 0, 0);
        border-radius: 15px;
        background-color: white;
        margin: auto;
}
.tc{
    text-align: center;
}
.h{
    background-color: rgba(168, 168, 168, 0.479);
    height: 65px ;
    border-radius: 15px 15px 0px 0px;
    padding-top: 10px ;
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
}
.fl,s{
    color: silver;
}
span{
    color: black;
    font-size: 40px;
    font-weight: bold;
}
sup{
	color:black;
	font-size:30px;
	font-weight:bold;
}
p{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

button{
    margin-top: 50px;
    text-align: center;
    width: 250px;
    height: 45px;
    background-color: rgb(0, 127, 201);
    border: 1px solid  rgb(0, 127, 201);
    color:white;
    border-radius: 30px 30px 30px 30px;
    font-size: 16px;
}
a{
    text-decoration: none;
    color:white;
    font-family:sans-serif;
}